<!-- ======= Hero Section ======= -->
<section  class=" shop_header d-flex position-fixed" style="z-index: 2;">
    <div class="col-lg-10 mx-auto ">
        <div class="d-flex justify-content-between my-2 mx-2 cart_options filters shop_filters">
          
            <button class="btn btn-primary btn-block user_bills" type="button" id="cart_button">Mis Facturas</button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#invoiceModal">
            Ver Facturas
        </button>
   

    


            
        </div>
    </div>
</section>

<!-- End Hero Section -->

<main id="main">

    <div class="modal_filters " style="z-index: 99999; position: relative;">
    </div>


    <section class="card_shop row col-lg-12" data-aos="fade-right" id="content_shop_building">
        <div class="col-lg-6 offset-lg-1" style="margin-top: 15vh;">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Lista de productos -->
                            <ul class="list-group list_cart">







                            </ul>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <h5 class = "total_money ">Total: 0.00 €</h5>
                                <!-- <a href="pago.html" class="btn btn-primary">Proceder al Pago</a> -->
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        
            






            </div>
        </div>

        <div class="offset-lg-7 col-lg-5 position-fixed cart_pay" style="margin-top: 15.5vh; height: 80vh;">
            <div >



        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" style="overflow-y: auto;">
                        

                        <form>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="firstName">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" required>
                                    <span id="firstName_error" class="error"></span>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <label for="lastName">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" required>
                                    <span id="lastName_error" class="error"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="tu@email.com" required>
                            </div>

                            <div class="mb-3">
                                <label for="address">Dirección</label>
                                <input type="text" class="form-control" id="address" placeholder="dirección" required>
                                <span id="address_error" class="error"></span>
                            </div>

                            <div class="mb-3">
                                <label for="address2">Dirección 2 <span class="text-muted">(Opcional)</span></label>
                                <input type="text" class="form-control" id="address2" placeholder="dirección 2">
                                <span id="address2_error" class="error"></span>
                            </div>

                            <div class="row">
                            </div>
                            <hr class="mb-4">
                            <h4 class="mb-3">Pago</h4>
                            <div class="d-block my-3">
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="nameCard">Nombre en la tarjeta</label>
                                    <input type="text" class="form-control" id="nameCard" placeholder="" required>
                                    <span id="nameCard_error" class="error"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="creditCard">Número de la tarjeta</label>
                                    <input type="text" class="form-control" id="creditCard" placeholder="" required>
                                    <span id="creditCard_error" class="error"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="expiration">Expiración</label>
                                    <input type="text" class="form-control" id="expiration" placeholder="" required>
                                    <span id="expiration_error" class="error"></span>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cvv">CVV</label>
                                    <input type="text" class="form-control" id="cvv" placeholder="" required>
                                    <span id="cvv_error" class="error"></span>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block buy_button" type="button">Realizar Pago</button>
                        </form>



                    </div>
                </div>
            </div>
        </div>





           </div>
        </div>

    </section>

    <section >

        <div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="invoiceModalLabel">Facturas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col text-center">ID</th>
                                    <th class="col text-center">Fecha</th>
                                    <th class="col text-center">Nombre</th>
                                    <th class="col text-center">Total</th>
                                    <th class="col text-center">Ver</th>
                                </tr>
                            </thead>
                            <tbody class="bill_table_content">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="pdfModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pdfModalLabel">Factura</h5>
                        <button type="button" class="close close_pdf" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="pdf-viewer"></div>
                    </div>
                    <div class="modal-footer">
                        <a id="download-link" href="#" class="btn btn-primary" download>Descargar PDF</a>
                        <button type="button" class="btn btn-secondary close_pdf" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


    </section>





</main>