<!-- ======= Hero Section ======= -->
<section  class=" shop_header d-flex position-fixed" style="z-index: 2;">
    <div class="col-lg-10 mx-auto ">
        <div class="d-flex justify-content-between my-2 mx-2 cart_options ">

         
        </div>
    </div>
</section>

<!-- End Hero Section -->

<main id="main">

    <div class="modal_filters " style="z-index: 99999; position: relative;">
    </div>


    <section class="card_shop row col-lg-12" data-aos="fade-right" id="content_shop_building">
        <div class="col-lg-6 offset-lg-1" style="margin-top: 15vh;">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Lista de productos -->
                            <ul class="list-group list_cart">







                            </ul>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <h5>Total: $60.00</h5>
                                <a href="pago.html" class="btn btn-primary">Proceder al Pago</a>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        
            






            </div>
        </div>

        <div class="offset-lg-7 col-lg-5 position-fixed cart_pay" style="margin-top: 10.5vh; height: 80vh;">
           <div class = "cart_pay_container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" style="overflow-y: auto;">
                        

                        <!-- Formulario de pago -->
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                            </div>

                            <div class="mb-3">
                                <label for="address">Dirección</label>
                                <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                            </div>

                            <div class="mb-3">
                                <label for="address2">Dirección 2 <span class="text-muted">(Opcional)</span></label>
                                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                            </div>

                            <div class="row">
                                <div class="col-md-5 mb-3">
                                    <label for="country">País</label>
                                    <select class="custom-select d-block w-100" id="country" required>
                                        <option value="">Elige...</option>
                                        <option>Estados Unidos</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="state">Estado</label>
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Elige...</option>
                                        <option>California</option>
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="zip">Código Postal</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <h4 class="mb-3">Pago</h4>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="credit">Tarjeta de Crédito</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit">Tarjeta de Débito</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="paypal">PayPal</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Nombre en la tarjeta</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required>
                                    <small class="text-muted">Nombre completo como se muestra en la tarjeta</small>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Número de la tarjeta</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">Expiración</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc-cvv">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Realizar Pago</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

           </div>
        </div>

    </section>

    <section class="details-shop">


    </section>
</main>