<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="view/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="view/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="view/vendor/glightbox/js/glightbox.min.js"></script>
<script src="view/vendor/swiper/swiper-bundle.min.js"></script>
<script src="view/vendor/aos/aos.js"></script>
<script src="view/vendor/php-email-form/validate.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Template Main JS File -->

<script src="module/login/view/js/ctrl_register.js"></script>
<script src="module/login/view/js/ctrl_login.js"></script>




<script src="view/js/main.js"></script>
<script src = "view/js/main_frontend.js"></script>
<script src = "view/js/activity_user.js"></script>




<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script> -->


</html>