<!-- ======= Hero Section ======= -->
<section id="shop_header" class="shop_header d-flex position-fixed" style="z-index: 2;">
    <div class="col-lg-10 mx-auto ">
        <div class="d-flex justify-content-between my-2 mx-2 filters shop_filters" id  ="shop_filters">
         
        </div>
    </div>
</section>

<!-- End Hero Section -->

<main id="main">

    <div class="modal_filters " style="z-index: 99999; position: relative;">
    </div>


    <section class="card_shop row col-lg-12" data-aos="fade-right" id="content_shop_building">
        <div class="col-lg-6 offset-lg-1" style="margin-top: 20vh;">
            <div class=" list_buildings"></div>

            <div class="pagination justify-content-center">

            </div>
        </div>
        <div class="offset-lg-7 col-lg-5 position-fixed card_shop_map" style="margin-top: 17.5vh; height: 75vh;">
            <div id='map' class='map_container'></div>
        </div>
    </section>

    <section class="details-shop">


    </section>
</main>